.chart text {
    fill: #7f8faf;
  }

.chart__line {
    fill: none;
    stroke-width: 1.2px;
    clip-path: url("#clip");
  }

.chart__price--focus {
    stroke-width: 2px;
    stroke: #2980b9;
  }

.chart__rate--focus {
    stroke-width: 2px;
    stroke: #f88d00;
  }

.chart__overlay {
    opacity: 0;
    pointer-events: all;
  }

.chart__tooltip--price {
    fill: none;
    stroke: #f00;
  }

.chart__tooltip--rate {
    fill: none;
    stroke: #f00;
  }

.chart__area {
    fill: #e6f6fe;
    stroke: #3587bc;
  }


  .chart__range-selection text {
    cursor: pointer;
    text-decoration: underline;
    fill: #2980b9;
  }
  .chart__axis--context text {
    fill: #7f8faf;
  }
  .chart__axis--context .tick:nth-child(odd) {
    display: none;
  }
  .chart__axis--context path,
  .chart__axis--context line {
    display: none;
  }

  .extent {
    fill: #e2f0ff;
    fill: #3587bc;
    fill-opacity: 0.3;
  }